/* START OUR mission */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: SF Hello;
}

.mission {
  padding: 6rem;
  background-color: #1c1c1c;
  color: white;
  font-style: normal;
  background-image: url("../assets/our_mission_in_home.png");
  background-size: cover;
  object-fit: cover;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../assets/our_mission_in_home.png");
}

.mission_head {
  width: 418px;

  color: #fff;
  font-size: 106px;
  font-style: normal;
  font-weight: 700;
}

.mission_boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 2rem;
}

.mission_boxes-right,
.mission_boxes-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.mission_box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.mission_box-img {
  width: 70.885px;
  height: 71.971px;
}

.mission_box div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mission_box-head {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.231px;
}

.mission_box-description {
  color: #bdbdbd;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.231px;
  width: 325px;
}

/* END OUR MISSION */
